# .htaccess for khronos.org/registry

Options +Indexes +FollowSymLinks
IndexOptions FancyIndexing
IndexOptions VersionSort
IndexOptions HTMLTable
IndexOptions FoldersFirst
IndexOptions IconsAreLinks
IndexOptions IgnoreCase
IndexOptions SuppressDescription
IndexOptions SuppressHTMLPreamble
IndexOptions XHTML
IndexOptions IconWidth=16
IndexOptions IconHeight=16
IndexOptions NameWidth=*
IndexOrderDefault Ascending Name
HeaderName /assets/apache/groups-index-style/header-public.html
ReadmeName /assets/apache/groups-index-style/footer-public.html

AddIcon /assets/apache/groups-index-style/icons/folder.gif ^^DIRECTORY^^

# The Khronos TypedArray proposal has been folded into ECMAScript 2015.
# Just redirect everything here to there.

RewriteEngine on

# Ensure we use www.
RewriteCond %{HTTP_HOST} ^khronos.org
RewriteCond %{HTTPS} ^on
RewriteRule ^(.*)$ https://www.khronos.org/registry/$1 [R=permanent,L]

# Avoid redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

#RewriteRule typedarray$ http://www.ecma-international.org/ecma-262/6.0/#sec-typedarray-objects [NE,L,R=301]
RewriteRule ^typedarray/(.*)$ http://www.ecma-international.org/ecma-262/6.0/#sec-typedarray-objects [NE,L,R=301]

# Rewrite from old SVN backing store paths to new Github repo backing store

# Still todo: GL, GLES, GLSC -> khronos.org/registry/OpenGL w/*lots* of redirects for individual files

RewriteRule ^cl/(.*)$ https://www.khronos.org/registry/OpenCL/$1 [NE,L,R=301]

RewriteRule ^dataformat/(.*)$ https://www.khronos.org/registry/DataFormat/$1 [NE,L,R=301]

RewriteRule ^egl/(.*)$ https://www.khronos.org/registry/EGL/$1 [NE,L,R=301]

RewriteRule ^kode/(.*)$ https://www.khronos.org/registry/OpenKODE/$1 [NE,L,R=301]

RewriteRule ^omxal/(.*)$ https://www.khronos.org/registry/OpenMAX-AL/$1 [NE,L,R=301]

RewriteRule ^omxdl/(.*)$ https://www.khronos.org/registry/OpenMAX-DL/$1 [NE,L,R=301]

RewriteRule ^omxil/(.*)$ https://www.khronos.org/registry/OpenMAX-IL/$1 [NE,L,R=301]

RewriteRule ^sles/(.*)$ https://www.khronos.org/registry/OpenSL-ES/$1 [NE,L,R=301]

RewriteRule ^spir/(.*)$ https://www.khronos.org/registry/SPIR/$1 [NE,L,R=301]

RewriteRule ^sycl/(.*)$ https://www.khronos.org/registry/SYCL/$1 [NE,L,R=301]

RewriteRule ^vg/(.*)$ https://www.khronos.org/registry/OpenVG/$1 [NE,L,R=301]

RewriteRule ^vx/(.*)$ https://www.khronos.org/registry/OpenVX/$1 [NE,L,R=301]

RewriteRule ^wf/(.*)$ https://www.khronos.org/registry/OpenWF/$1 [NE,L,R=301]

RewriteRule ^openxr/?(.*)$ https://www.khronos.org/registry/OpenXR/$1 [NE,L,R=301]

# Redirects to keep Google search results happy:  https://www.google.co.uk/search?q=opencl+specification

Redirect 301 /registry/OpenCL/specs/opencl-1.0.29.pdf https://www.khronos.org/registry/OpenCL/

# Redirect specs/misc extensions
Redirect 301 /registry/vulkan/specs/misc/GL_KHR_vulkan_glsl.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/khr/GL_KHR_vulkan_glsl.txt
Redirect 301 /registry/vulkan/specs/misc/GL_EXT_control_flow_attributes.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/ext/GL_EXT_control_flow_attributes.txt
Redirect 301 /registry/vulkan/specs/misc/GL_EXT_device_group.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/ext/GL_EXT_device_group.txt
Redirect 301 /registry/vulkan/specs/misc/GL_EXT_multiview.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/ext/GL_EXT_multiview.txt
Redirect 301 /registry/vulkan/specs/misc/GL_AMD_shader_fragment_mask.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/amd/GL_AMD_shader_fragment_mask.txt
Redirect 301 /registry/vulkan/specs/misc/GL_NVX_multiview_per_view_attributes.txt https://github.com/KhronosGroup/GLSL/blob/master/extensions/nvx/GL_NVX_multiview_per_view_attributes.txt
Redirect 301 /registry/vulkan/specs/misc https://github.com/KhronosGroup/GLSL/tree/master/extensions

# Redirect specs/opencl-2.2 to new structure - 2018-05-14
Redirect 301 /registry/OpenCL/specs/opencl-2.2-cplusplus.html https://www.khronos.org/registry/OpenCL/specs/2.2/html/OpenCL_Cxx.html
Redirect 301 /registry/OpenCL/specs/opencl-2.2-cplusplus.pdf https://www.khronos.org/registry/OpenCL/specs/2.2/pdf/OpenCL_Cxx.pdf
Redirect 301 /registry/OpenCL/specs/opencl-2.2-environment.html https://www.khronos.org/registry/OpenCL/specs/2.2/html/OpenCL_Env.html
Redirect 301 /registry/OpenCL/specs/opencl-2.2-environment.pdf https://www.khronos.org/registry/OpenCL/specs/2.2/pdf/OpenCL_Env.pdf
Redirect 301 /registry/OpenCL/specs/opencl-2.2-extension.html https://www.khronos.org/registry/OpenCL/specs/2.2/html/OpenCL_Ext.html
Redirect 301 /registry/OpenCL/specs/opencl-2.2-extension.pdf https://www.khronos.org/registry/OpenCL/specs/2.2/pdf/OpenCL_Ext.pdf
Redirect 301 /registry/OpenCL/specs/opencl-2.2.html https://www.khronos.org/registry/OpenCL/specs/2.2/html/OpenCL_API.html
Redirect 301 /registry/OpenCL/specs/opencl-2.2.pdf https://www.khronos.org/registry/OpenCL/specs/2.2/pdf/OpenCL_API.pdf

RewriteRule ^OpenCL/sdk/latest/(.*)$ https://www.khronos.org/registry/OpenCL/sdk/2.2/$1 [L,NC,R=301]
